@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

body {
	font-family: "Poppins", sans-serif;
}

@layer utilities {
	.mobile-size {
		@apply text-[24px] font-semibold text-center pt-5;
	}

	.medium_size_navbar {
		@apply flex items-center h-[65px] justify-around pt-[65px];
	}

	.badge {
		@apply w-[52px] h-[21px] bg-blue text-white rounded-md;
	}
	.card-image {
		background-size: cover;
	}
	.card {
		box-shadow: 0 4px 12px rgba(33, 44, 55, 0.06);
	}
}

@layer components {
	.button {
		@apply px-8 py-3 md:w-[212px] md:h-[53px] bg-blue text-white;
	}
}
